body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.textBody {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.imageBody {
  margin: 50px auto 0px auto;
  height: 50px;
  width: 50px;
}

.textBody h1{
  font-size: 1em;
  line-height: 1.5em;
  margin: 15px 0px 0px 0px;
  padding: 0;
  font-weight: 400;
}

.textBody p{
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.textBody h2{
  font-size: 2em;
  line-height: 1.4em;
  margin: 0px;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #20232A;
  border-top: 1px solid rgba(255, 255, 255, 0.164);
  position: fixed;
  z-index: 999999;
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;  
}

.navigation a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7em;
  height: 100%;
  align-items: center;
  width: 100%;
  transition: 1.5s;
  text-align: center;
}

.navigation a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.137);
  transition: .5s;
}

.BigMenu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.MenuElement {
  width: 240px;
  height: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 10px;
  transition: .5s;
}

.MenuElement:hover {
  cursor: pointer;
  transform: scaleX(5px);
  transition: .5s;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 255, 0.418);
}

.El-Bg {
  height: 320px;
  min-width: 240px;
  display: flex;
  justify-content: center;
  position: relative;
}

.El-Bg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  filter: blur(2px);
}

.El-Body {
  height: 320px;
  width: 240px;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.El-container {
  height: 92%;
  width: 90%;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.El-container p {
  text-transform: uppercase;
  font-size: 1.5em;
  color: aliceblue;
  font-weight: 500;
}

.ContainerProgramm {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  color: white;
}

.theory {
  padding: 10px;
  max-width: 800px;
  margin: 30px auto;
}

.topic {
  font-size: 22px;
  font-weight: bold;
}

.theory-el {
 width: 100%;
 padding: 20px;
}

.theory-el a {
  color: white; 
  transition: .5s;
  text-decoration: none;
}


.theory-el a:hover {
  color: brown;
  transition: .5s;
 }


 .topic {
  color: rgba(108, 106, 255, 0.719);
 }

.list {
  max-width: 860px;
  margin: 0 auto;
  padding: 5px;
  color: rgba(255, 255, 255, 0.664);
  margin-bottom: 50px;
  margin-top: 30px;
}

.list h1 {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.884);

}

.list .image {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}

.list .image div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list .text {
  text-indent: 1.5em;
  text-align: justify;
}

.list h2 {
  margin-bottom: 2px;
  text-align: center;
}

.list hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.imageFlex {
  display: flex;
  justify-content: center;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}


.q-Title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
}

.q-question {
  color: white;
  font-weight: 500;
}

.q-Input {
  color: rgba(255, 255, 255, 0.808);
  font-style: italic;
  font-size: 14px;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.q-Input input {
  margin-right: 5px;
}

.q-Button {
  display: flex;
  justify-content: center;
  margin: 20px auto 10px auto;
  border: 2px solid white;
  background-color: #20232A;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
  transition: 2s;
  text-transform: uppercase;
}

.q-Button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.137);
  transition: 1s;
}

.q-Button:disabled {
  background-color: rgba(250, 25, 25, 0.137);
}

.q-container {
  max-width: 800px;
  margin: 0 auto;
}

.q-list {
  color: white;
  font-size: 16px;
}

.q-Input div input:hover {
  cursor: pointer;
  border: 1px solid crimson;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controlTitle {
  color: aliceblue;
}

.controleLinks {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 20px auto 0px auto;
  max-width: 800px;
}

.controleLinks a {
  color: white;
  text-decoration: none;
  margin: 5px;
}

.test {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
}

.testBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: white;
}

.testQuestion {
  text-align: center;
}

.login {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

#testStartName {
  background-color: #20232A;
  border: 1px solid white;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 300;
  font-style: italic;
}

.testTitleH5 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.StartTest {
  margin-top: 20px;
  background-color: rgba(0, 0, 255, 0.137);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  transition: .5s;
  padding: 10px 15px;
  width: 320px;
}

.StartTest:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 255, 0.137);
  background: #20232A;
  transition: .5s;
}

.testAnswers {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.testButton {
  text-align: center;
  margin-bottom: 100px;
}

.nextQuestion,
.finishTest,
.repiatTest {
  display: none;
  margin-top: 20px;
  background-color: rgba(0, 0, 255, 0.137);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  transition: .5s;
  padding: 10px 15px;
  width: 200px;
}


.nextQuestion:hover,
.finishTest:hover,
.repiatTest:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 255, 0.137);
  background: #20232A;
  transition: .5s;
}

.labelTest {
  text-align: justify;
  margin-left: 5px;
}

.testBlockInput {
  display: flex;
  flex-direction: row;
}
